:root {
  --main: #e6ddd3;  /*#;F2EBE3 */
  --dark: #F2EBE3;  /*#;094074 */
  --text: #ffffff;
  --background: #181a25;
  --primary: #dbe2e9;
  --secondary: #408df2;
  --accent: #1332b2;

}

.blue-accent {
  background-color: hsl(194, 45%, 77%);
}

.btn-sky {
  background-color: hsl(194, 45%, 77%);
}
.btn-sky:hover {
  background-color: hsl(194, 50%, 72%);
}

@font-face {
  font-family: "flighty";
  src: url("../fonts/flighty.ttf");
  font-display: swap;
}

@font-face {
  font-family: "dm_sans";
  src: url("../fonts/dm_sans.ttf");
  font-display: swap;
}

@font-face {
  font-family: "dm_serif";
  src: url("../fonts/dm_serif.ttf");
  font-display: swap;
}

@font-face {
  font-family: "anonymous-pro";
  src: url("../fonts/anonymous-pro.ttf");
  font-display: swap;
}

@font-face {
  font-family: "spacemono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-display: swap;
}

.bg-main {background-color: var(--main)!important;}
.bg-dark {background-color: var(--dark)!important;}
.bg-grey {background-color: var(--grey)!important;}
.bg-button  {background-color: var(--button);}
.bg-lighter {background-color: var(--lighter)!important;}

.h-100 {
  height: 100%;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0;
}

.modal-content {
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px;
  margin-left: 28px;
  color: white;
}

.form-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  border-radius: 8px;
  transition: all 0.33s;
  color: var(--text);
}

.form-input:hover, .form-input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.33s;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper::after {
  position: absolute;
  right: 0px; /* Adjust as needed */
  top: 100%; /* Adjust as needed */
  transform: translateY(-100%);
  pointer-events: none; /* Makes sure the text is not interactive */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.modal-dialog {
  display: flex;
  flex-grow: 1;
}

.modal-frame {
  height: 100vh;
}

.create-form {
  padding: 0;
  height: fit-content;
}

.modal-dialog-createplace {
  height: fit-content;
}

.page-heading {
  font-family: dm_sans;
  font-size: 3rem;
}

.form-heading {
  width: 100%;
  font-family: dm_serif;
  font-size: 1.8rem;
  margin: 0;
}

.line-break {
  width: 100%;
  height: 4px;
  background-color: hsl(194, 45%, 77%);
}

.nav-logo {
  font-size: 2rem!important;
  font-weight: 200;
  font-family: dm_serif;
  color: white!important;
}

body {
  width: 100%;
  display: flex;
  flex-flow: column;
  z-index: -100;
  height: 100vh;
}

.mobile-nav-link {
  width: fit-content;
}

.back-link {
  font-size: 1em;
  color: #6c757d;
  transition: all 0.2s;
  padding-bottom: 16px;
}

.back-link:hover {
  font-size: 1.05em;
  color: #7e868d;
}

.left-nav-buttons {
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px;
}

.menu-button {
  background-color: rgba(0, 0, 0, 0);
  margin: 8px;
  transition: all 0.33s;
}

#menu-collapse-icon {
  transition: all 0.35s ease;
  border-radius: 50%;
  padding: 6px;
}

.menu-box-main {
  width: 100%;
}

.th {
  height: 50vh;
}

a {
  text-decoration: none;
}

.menu-main-button {
  border: none;
  background: none;
  border-radius: 20%;
  width: 100%;
  padding: 15px;
  font-family: dm_sans;
  color: white;
  border-radius:1rem;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-main-button-rect {
  background-color: var(--accent);
  height: 4px;
  width: 0%;
  transition: width 0.35s ease;
  margin-top: 8px;
}

.menu-main-button:hover .menu-main-button-rect {
  width: 60%; /* Width grows to 50% on hover */
  transition: width 0.35s ease;
}

.form-next-button {
  border: none;
  background: var(--accent);
  border-radius: 0.33rem;
  padding: 6px 16px;
  color: white;
  font-family: dm_sans;
  transition: all 0.33s ease;
}

.form-next-button:hover {
  background-color: var(--secondary);
}

.modal-footer {
  height: 40px;
}

.create-marker-btn {
  font-family: dm_sans;
  font-size: 14px;
  background: none;
  transition: 0.33s ease;
  border-radius: 0.33rem;
  z-index: 0; /* Set the z-index context */
  color: var(--text);
}

.create-marker-btn:hover {
  color: white;
  background-color: var(--accent);
  
}

.mapclick-popup .leaflet-popup-content {
  margin: 16px!important;
}

.mapclick-popup .leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: var(--text);
}

.mapclick-popup .leaflet-popup-tip {
  background-color: var(--background);
}

.area-selector-coords {
  font-family: spacemono;
  white-space: nowrap;
  width: fit-content;
  overflow: visible;
}

.marker-card div .leaflet-popup-content {
  margin: 0px;
  padding: 0px;
  display: flex;
  border-radius: 12px;
}

.marker-card .leaflet-popup-content-wrapper {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--text);
}

.leaflet-popup-close-button {
  border-radius: 25%;
}

.marker-card .leaflet-popup-close-button {
  background: rgba(255, 255, 255, 0.8)!important;
  margin: 5px;
  width: 32px!important;
  height: 32px!important;
}

.marker-card-bottom a {
  color: var(--text)!important;
  border-color: var(--text)!important;
}

.marker-card .leaflet-popup-close-button span {
  font-size: 24px!important;
  height: 100%;
  width: 100%;
  left: 0!important;
  top: 2px!important;
  text-align: center;
  vertical-align: middle;
}

.leaflet-popup-close-button:hover {
  background: rgba(255, 255, 255, 0.3)!important;
  transition: all 0.33s;
}

.marker-card .leaflet-popup-close-button span {
  position: absolute;
      top: -1px; /* Adjust as needed */
      left: 25%; /* Adjust as needed */
}

.card-img-top {
  border-radius: 12px 12px 0 0;
}

.marker-card-content {
  z-index: 0;
  font-family: dm_sans;
  border: 1px solid var(--text);
  border-radius: 12px;
}

.marker-card-bottom {
  border-radius: 0 0 12px 12px!important;
}

.card-title {
  font-family: dm_serif;
  font-size: 1.6rem;
}

.nav-bar {
  max-width: fit-content;
  border-radius: 0.66rem;
}

.category-selector-item {
  background-color: var(--background);
  color: var(--text);
  font-family: dm_sans;
  font-size: 13px;
  transition: all 0.33s;
  text-align: center;
  margin: 5px;
  width: 150px;
}

.category-selector-item:hover {
  background-color: rgba(172, 172, 172, 0.3); 
}

.form-section {
  display: none;
  height: fit-content;
}

.form-section.active {
  display: flex;
}

.category-selector-item.selected {
  border-color: #0d6efd;
  background-color: #e7f1ff;
}

.attribution-button {
  border: none;
  background: none;
  color: #0078A8;
  text-decoration: underline;
}

.dark-map {
  filter: invert(120%) hue-rotate(190deg);
}

@media only screen and (max-width: 768px) {

  .nav-bar {
    max-width:100%;
    border-radius: 0;
    max-height: 100%;
  }
  
  .mobile-header-spacer {
    min-width: 40px;
  }

  .menu-button {
    margin: 0;
    margin-left: 4px;
  }
  
  .menu-box-inner {
    height: 100vh;
  }

}

@media only screen and (max-width: 576px) {

  .modal-content-createplace {
    margin: 0;
    border-radius: 0%!important;
    background-color: #fdfcfc!important;
  }

  .modal-dialog-createplace {
    margin: 0;
    height: 100%;
  }

  .modal-body-createplace {
    padding: 0;
  }

  .create-form {
    padding: 20px;
    height: auto;
  }

  .page-heading {
    font-size: 2rem;
  }

  .form-heading {
    width: auto;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .category-selector-row {
    overflow-x: scroll;
    max-width: calc(100vw - 40px);
  }

  .form-row-category {
    overflow-x: scroll;
    max-width: calc(100vw - 40px);
  }

  .category-selector-item {
    max-width: 160px;
    min-width: 160px;
  }
}

@media only screen and (max-width: 385px) {
  
  .nav-logo {
    font-size: 1.5rem!important;
  }

}