:root {
  --main: #e6ddd3;  /*#;F2EBE3 */
  --dark: #F2EBE3;  /*#;094074 */
  --lighter:#2b2f3b;
  --button: #20252d;
  --green: #198754;
  --grey: rgb(173, 209, 158);
  --sky-blue: #42CAFD;
}

.blue-accent {
  background-color: hsl(194, 45%, 77%);
}

.btn-sky {
  background-color: hsl(194, 45%, 77%);
}
.btn-sky:hover {
  background-color: hsl(194, 50%, 72%);
}

@font-face {
  font-family: "flighty";
  src: url("../fonts/flighty.ttf");
  font-display: swap;
}

@font-face {
  font-family: "dm_sans";
  src: url("../fonts/dm_sans.ttf");
  font-display: swap;
}

@font-face {
  font-family: "dm_serif";
  src: url("../fonts/dm_serif.ttf");
  font-display: swap;
}

@font-face {
  font-family: "anonymous-pro";
  src: url("../fonts/anonymous-pro.ttf");
  font-display: swap;
}

@font-face {
  font-family: "spacemono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-display: swap;
}

.bg-main {background-color: var(--main)!important;}
.bg-dark {background-color: var(--dark)!important;}
.bg-grey {background-color: var(--grey)!important;}
.bg-button  {background-color: var(--button);}
.bg-lighter {background-color: var(--lighter)!important;}

.h-100 {
  height: 100%;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px;
  margin-left: 28px;
}

.modal-dialog {
  display: flex;
  flex-grow: 1;
}

.modal-frame {
  height: 100vh;
}

.create-form {
  padding: 0 100px;
}

.page-heading {
  font-family: dm_sans;
  font-size: 3.2rem;
}

.form-heading {
  width: 30%;
  font-family: dm_sans;
  font-size: 1.8rem;
  margin: 0;
}

.line-break {
  width: 100%;
  height: 4px;
  background-color: hsl(194, 45%, 77%);
}

.nav-logo {
  font-size: 2rem!important;
  font-weight: 200;
  font-family: dm_serif;
  color: black!important;
}

body {
  width: 100%;
  display: flex;
  flex-flow: column;
  z-index: -100;
  height: 100vh;
}

.mobile-nav-link {
  width: fit-content;
}

.back-link {
  font-size: 1em;
  color: #6c757d;
  transition: all 0.2s;
  padding-bottom: 16px;
}

.back-link:hover {
  font-size: 1.05em;
  color: #7e868d;
}

.left-nav-buttons {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px;
}

.menu-button {
  background-color: rgba(0, 0, 0, 0);
  margin: 8px;
}

#menu-collapse-icon {
  transition: all 0.35s ease;
  border-radius: 50%;
  padding: 6px;
}

.menu-box-main {
  width: 100%;
}

.th {
  height: 50vh;
}

a {
  text-decoration: none;
}

.menu-main-button {
  border: none;
  background: none;
  border-radius: 20%;
  width: 100%;
  padding: 15px;
  font-family: dm_sans;
  border-radius:1rem;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-main-button-rect {
  background-color: var(--sky-blue);
  height: 4px;
  width: 0%;
  transition: width 0.35s ease;
  margin-top: 8px;
}

.menu-main-button:hover .menu-main-button-rect {
  width: 60%; /* Width grows to 50% on hover */
  transition: width 0.35s ease;
}

.create-marker-btn {
  font-family: dm_sans;
  font-size: 14px;
  background: none;
  transition: all 0.33s;
  position: relative; /* Ensure relative positioning for the parent */
  z-index: 0; /* Set the z-index context */
}

.create-marker-btn::after {
  content: '';
  position: absolute; /* Correctly position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(170, 210, 223, 0.7) 25%, rgba(170, 210, 223, 0.7) 75%, rgba(255,255,255,0) 100%);
  z-index: -1; /* Ensure it is behind the content */
  transition: opacity 0.33s ease;
  opacity: 0;
}

.create-marker-btn:hover::after {
  opacity: 1; /* Apply the hover effect to the parent element */
}

.area-selector-coords {
  font-family: spacemono;
  white-space: nowrap;
  width: fit-content;
  overflow: visible;
}

.marker-card div .leaflet-popup-content {
  margin: 0px;
  padding: 0px;
  display: flex;
  border-radius: 12px;
}

.mapclick-popup div .leaflet-popup-content {
    margin: 0px;
  padding: 0px;
}

.marker-card .leaflet-popup-content-wrapper {
  margin: 0px;
  padding: 0px;
}

.leaflet-popup-close-button {
  border-radius: 50%;
}

.marker-card .leaflet-popup-close-button {
  background: rgba(255, 255, 255, 0.8)!important;
  margin: 10px;
}

.leaflet-popup-close-button:hover {
  background: rgba(255, 255, 255, 0.3)!important;
  transition: all 0.33s;
}

.marker-card .leaflet-popup-close-button span {
  position: absolute;
      top: -1px; /* Adjust as needed */
      left: 25%; /* Adjust as needed */
}

.card-img-top {
  border-radius: 12px 12px 0 0;
}

.marker-card-content {
  z-index: 0;
  font-family: dm_sans;
}

.marker-card-bottom {
  border-radius: 0 0 12px 12px!important;
}

.card-title {
  font-family: dm_serif;
  font-size: 1.6rem;
}

@media only screen and (max-width: 576px) {

  .mobile-nav-link {
    min-width: 40%;
  }

  .modal-dialog {
    margin: 0;
  }

  .collections-link {
    font-size: 0.9rem!important;
  }

  .backdrop {
    width: 100%;
    max-width: 100%;
    padding: 0px!important;
  }

  .stuff {
    padding-top:0;
    margin-top: -8px;
  }

  .collections-item {
    z-index: 0;
    height: auto;
    width: 100%;
    font-size: 1.4em;
    font-weight: lighter;
    transition: all 0.3s;
    
  }

  .collections-image {
    height: auto;
    width: 100%;
    
  }

  .gallery-item {
    height: auto;
    width: 100%;
    padding-top: 8px;
    border: none;
  }

  .gallery-image {
    padding: 0px;
    height: 100%;
    width: 100%;
  }

}
